

body {
}

.container-mid{
    margin-top: 10%;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    gap: 20px;
    background-color: #120a8f;
}



h2{
    
    font-size: 25px;
}

.RememberMePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
}



