body {
}


.position {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
    color: white;
    border-radius: 20px;
    width: 25%;
    height: 40%;
    align-content: center;
    flex-wrap: wrap;
}

.RememberMePosition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btnconfig {
    margin-top: 5px;
    background-color: #d8deeb;
    color: black;
    border: none;
    width:70px;
    height:35px;
}



.ColorForm {
    background-color: #120a8f;
}

.FormLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}