body {
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    border-radius: 20px;
    width: 400px;
    height: 100%;
    background-color: #120a8f;
}

.container-mid{
    margin-top: 5%;
}
