

body {
    height: 1004px;
   
}

.footer {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}




.displaymain {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
}

li {
    border-radius: 10px;
}

    li:hover {
        background-color: #d8deeb;
    }

.nav-item-signin {
    color: #000000;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    margin-right: 5px;
}

    .nav-item-signin:hover {
        background-color: #1861ac
    }

.nav-item-signup {
    color: #000000;
    background-color: #ff2121;
    border-color: #ff2121
}

    .nav-item-signup:hover {
        background-color: #d40000;
    }


