/* _content/Financas/Pages/Account/Auth/Login.cshtml.rz.scp.css */
body[b-20aphebhd3] {
}


.position[b-20aphebhd3] {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
    color: white;
    border-radius: 20px;
    width: 25%;
    height: 40%;
    align-content: center;
    flex-wrap: wrap;
}

.RememberMePosition[b-20aphebhd3] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btnconfig[b-20aphebhd3] {
    margin-top: 5px;
    background-color: #d8deeb;
    color: black;
    border: none;
    width:70px;
    height:35px;
}



.ColorForm[b-20aphebhd3] {
    background-color: #120a8f;
}

.FormLayout[b-20aphebhd3] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}
/* _content/Financas/Pages/Account/Auth/SignUp.cshtml.rz.scp.css */
body[b-i1g8wau2q8] {
}

.position[b-i1g8wau2q8] {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
    color: white;
    border-radius: 20px;
    width: 25%;
    height: 40%;
    align-content: center;
    flex-wrap: wrap;
}


.btnconfig[b-i1g8wau2q8] {
    margin-top: 5px;
    background-color: #d8deeb;
    color: black;
    border: none;
}


.ColorForm[b-i1g8wau2q8] {
    background-color: #120a8f;
}

.FormLayout[b-i1g8wau2q8] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}
/* _content/Financas/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-op8a3t7oau] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-op8a3t7oau] {
    color: #0077cc;
}

.btn-primary[b-op8a3t7oau] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-op8a3t7oau], .nav-pills .show > .nav-link[b-op8a3t7oau] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-item-signin[b-op8a3t7oau] {
    color: #000000;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    margin-right : 5px;
}

.nav-item-signin:hover[b-op8a3t7oau]{
    background-color: #1861ac
}

.nav-item-signup[b-op8a3t7oau] {
    color: #000000;
    background-color: #ff2121;
    border-color: #ff2121
}
.nav-item-signup:hover[b-op8a3t7oau]{
    background-color: #d40000;
}

.border-top[b-op8a3t7oau] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-op8a3t7oau] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-op8a3t7oau] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-op8a3t7oau] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-op8a3t7oau] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

li[b-op8a3t7oau] {
    border-radius: 10px;
}



li:hover[b-op8a3t7oau] {
  background-color: #d8deeb;
}



/* _content/Financas/Pages/Shared/_LayoutLogin.cshtml.rz.scp.css */
body[b-e7e6cajcp7] {
    height: 1004px;
}

.footer[b-e7e6cajcp7] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}



.displaymain[b-e7e6cajcp7] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

li[b-e7e6cajcp7] {
    border-radius: 10px;
}

    li:hover[b-e7e6cajcp7] {
        background-color: #d8deeb;
    }

.nav-item-signin[b-e7e6cajcp7] {
    color: #000000;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    margin-right: 5px;
}

    .nav-item-signin:hover[b-e7e6cajcp7] {
        background-color: #1861ac
    }

.nav-item-signup[b-e7e6cajcp7] {
    color: #000000;
    background-color: #ff2121;
    border-color: #ff2121
}

    .nav-item-signup:hover[b-e7e6cajcp7] {
        background-color: #d40000;
    }
