body[b-v3rqv8rgn6] {
}


.position[b-v3rqv8rgn6]{
    display: flex;
    justify-content: center;
}

form[b-v3rqv8rgn6]{

    width:50%;
}

.Margintop[b-v3rqv8rgn6]{

    margin-top: 5px;
}


.ColorForm[b-v3rqv8rgn6] {
    background-color: #120a8f;
}