body[b-e7e6cajcp7] {
    height: 1004px;
}

.footer[b-e7e6cajcp7] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}



.displaymain[b-e7e6cajcp7] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

li[b-e7e6cajcp7] {
    border-radius: 10px;
}

    li:hover[b-e7e6cajcp7] {
        background-color: #d8deeb;
    }

.nav-item-signin[b-e7e6cajcp7] {
    color: #000000;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    margin-right: 5px;
}

    .nav-item-signin:hover[b-e7e6cajcp7] {
        background-color: #1861ac
    }

.nav-item-signup[b-e7e6cajcp7] {
    color: #000000;
    background-color: #ff2121;
    border-color: #ff2121
}

    .nav-item-signup:hover[b-e7e6cajcp7] {
        background-color: #d40000;
    }
