@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-cl1">
    
    <div class="sub-container-cl1">

        <h1><strong>Gerenciador <br /> financeiro online <br /> para <span>controle total</span><br /> das suas finanças!</strong></h1>

        <p>
            Nunca mais perca o controle de suas finanças. Nosso melhor aplicativo de controle
            financeiro pessoal vai te ajudar a organizar tudo isso.
        </p>

        <input type="email" value="" placeholder="Seu e-mail" class="form-control" />

    </div>

    <div class="sub-container-cl2">

       <img height="600px" src="/Assets/mockup-app.png" alt="mockup-app"/>

    </div>
</div>